@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');


/* Altera os elementos da pagina*/
*{
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.container{
    width: 100%;
    height: 100vh;

}

html{
    scroll-behavior:smooth;
    font-size: 100%;
}

:root{
    --font-primary: "EB Garamond", serif;
    --font-secundary: "STIX Two Text", serif;
    --font-action:"Source Sans Pro", serif;
}

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,80, 0.8); 
}


/* sessão "Sobre Mim"*/

.sessao-sobreMim {
    width: 100%;
    height:100vh;
    overflow: hidden;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.img-sobreMim{
    width: 100%;
    height: 100%;
    overflow: hidden;  
    position: absolute;
   
  /*  background-color: grey;*/
}

 .img-sobreMim img{
    max-width: 100rem;
    max-height: 25rem;
    object-fit: cover ;
    opacity: 1;
    padding-top: 7rem;
    padding-left: 70rem;
    vertical-align: top;
   /* background-color: grey;*/
}

.header-sobreMim h1{ 
    color:#302b63;
    margin-bottom: 5rem;
    font-family: var(--font-primary);
    font-size: 4rem;
    font-weight: 100;
    justify-content: center;
    align-items: center;
    display: flex;
}

.sobreMim-texto p {

    font-family: var(--font-primary);
    font-size: 1.5rem;
    text-indent: 2em;
    margin-top: 1rem;
    margin-left: 4rem;
    width: 43em;
    text-shadow: 0.2em 0.2em 0.3em #4d449e;
    overflow: hidden;
    line-height: 2rem;
    white-space:pre-line;
    z-index: 50;    
    /*background-color: grey;*/
    text-align: justify;
    justify-content: left;
    /*word-wrap: break-word;*/
    color: #302b63;
    position: relative;
    display: flex;
    justify-items: center;
    /*align-items: initial;*/
    
}

@keyframes movesobreMim{
    0%{
        transform: translateX(10rem) rotateX(-50deg);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zoom{
    0%{
        transform: scale(1.7);
    }
    100%{
        transform: scale(1);
    }
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    animation: zoom 10s;
}


@keyframes moveBanner{
    0%{
        transform: translateX(10rem) rotateX(-50deg);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.banner{
    position: absolute;
    top: 20%;
    right: 60%;
}

.banner h1{
    color: #FFFFFF;
    font-size: 3rem;
    font-family: var(--font-primary);
    font-weight: 200;
    text-shadow: .3rem .4rem 2px rgba(0,0,0,0.4);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s forwards;
}

.banner p{
    color: #FFFFFF;
    font-size: 1.3rem;
    font-family: var(--font-secundary);
    text-shadow: .3rem .4rem 2px rgba(0,0,0,0.4);
    margin-bottom: 3rem;
    opacity: 0;
    animation: moveBanner 1.5s forwards;
}

.banner button{
    font-family: var(--font-action);
    font-size: 1.2rem;
    color: #FFFFFF;
    padding: 0.2rem 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-color: #FFFFFF;  
    border-radius: 10px 20px;
    cursor:pointer;
    opacity: 0;
    animation: moveBanner 3s forwards;
}

.banner button:hover{
    opacity: 0.2;
}

/*menu hamburguer*/

.hamburguer{
    /*background-color: #FFFFFF;*/
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 350;
    right: 2rem;
    top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.showMenu .hamburguer{
    right: 17rem;
    transition: 1.2s;
}

.hamburguer span{
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #302b63;
    color: #FFFFFF;   
    font-family: var(--font-action);
    opacity: 0;
}

.hamburguer span::before{
    content: "";
    position: absolute;
    border-right: .7rem solid #302b63;
    border-top: .7rem solid transparent;
    border-left: .7rem solid transparent;
    border-bottom: .7rem solid transparent;
    left: -1.3rem;
}

.showMenu .hamburguer:hover span{
    opacity: 1;
}

.line{
    width: 100%;
    height: .15rem;
    background-color: white ;
    box-shadow: 0.1rem 0.1rem 0.5px #302b63;
    cursor: pointer;
    
}

.showMenu #line1{
    transform:  rotate(45deg) translate(.3rem, .4rem);
    transition: 1.2s;
}

.showMenu #line2{
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.showMenu #line3{
    transform:  rotate(-45deg) translate(.16rem, -.5rem);
    transition: 1.2s;
}

/*menu lateral*/

.sideBar{
    width: 20rem;
    height: 100vh;
    background-color: white;
    opacity: 0.85;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1.2s;
    z-index: 300;
}

.showMenu .sideBar{
    right: 0;
}


.menu{
    position: absolute;
    top: 20%;
    left: 10%;
    transform: translate(5%, -10%) ;
}

.menuItem{
      text-align: center;
      margin-bottom: 1.2rem;
}

.menuLink{
    font-family: var(--font-primary);
    font-size: 26px;
    justify-content: space-between;
    color: #0f0c29;
   
}

.menuLink:hover{
    color: white;
    background-color: #302b63;
    border-radius: 10px 20px ;
    transition: background-color 1.5s;

}

.socialMedia{
    background-color: white;
    position: absolute;
    display: flex;
    bottom: 2rem;
    width: 100%;
    justify-content: space-evenly;
}

.socialMedia i{
    font-size: 1.5rem;
    color: #0f0c29;
    background-color:white;
    border-radius: 10px 20px;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialMedia i:hover{
    color: white;
    background-color: #302b63;
    transition: background-color 1.0s;
}

/*---Linha do tempo da formação acadêmica*/

.sessao-timeline{
    font-family: var(--font-primary);
    overflow: hidden;
    box-sizing: border-box;
    background-color: #24243e;
    color:#FFFFFF;
    width: 100%;
    height:100vh;
}

.sessao-timeline input{
    display:none;
    position: absolute;
}

.sessao-timeline .header-timeline h1{
    color:#FFFFFF;
    margin-bottom: 5rem;
    font-family: var(--font-primary);
    font-size: 4rem;
    font-weight: 100;
    justify-content: center;
    align-items: center;
    display: flex;
}

.sessao-timeline .head-timeline{
    position: relative;
    width: 90%;
    margin: auto;
    height: 25vh;
    margin-top: 3rem;
    animation: trans .7s linear forwards;
}

.sessao-timeline .nav-timeline{
    padding-top: 15px;
    z-index: 100;
    position: absolute;
    width: 100%;
    margin-top: -40px;
}

.sessao-timeline .nav-timeline li{
    list-style: none;
    float: left;
    width: 25%;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer; 
    font-size: 200;
    transition: all .3s ease;
    vertical-align: middle;
    height: 60px;
    position: relative;
}

.sessao-timeline .nav-timeline li::before{
    content: '';
    width: 25px;
    height: 25px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    margin: auto;
    display: block;
    transition: all .3s ease;
}

.sessao-timeline .nav-timeline li:hover::before{
    border: 2px solid #777;
    background-color: #FFFFFF;
}

.sessao-timeline .nav-timeline li .inner{
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 14px;
    font-weight: bold;
}


.nav-timeline li.active, .nav-timeline li:hover{
    color: #444;
}

.nav-timeline li::after{
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    background: #fff;
    border-radius: 50%;
    margin: auto;
    border: 7px solid #24243e;
    margin-top: 40px;
    box-shadow: 0px 0px 5px 0px rgba(255,255,255,0.2);
}

.nav-timeline li:hover::after, .nav-timeline li.active::after{
    background:#777
}

.line-timeline{
    width: 76%;
    margin: auto;
    background: #eee;
    height: 7px;
    position: absolute;
    left: 11.8%;
    top: 52px;
    z-index: 1;
    border-radius: 50px;
}

.line-timeline span{
    content: '';
    width: 2%;
    height: 100%;
    background-image: -moz-linear-gradient(to right, #0f0c29 0%, rgba(51, 46, 105, 0.600) 100%);
    position: absolute;
    z-index: 2;
    border-radius: 50px;
    transition: all .8s ease;
}

.content-timeline{
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    animation: anim .7s linear forwards;
    flex-direction: column;
}

.content-timeline section{
    width: 70%;
    margin: auto;
    background-image: -moz-linear-gradient(to right, #0f0c29 0%, rgba(51, 46, 105, 0.600) 100%);    
    border: #FFFFFF;
    border-radius: 4px;
    border: 2px solid #FFFFFF;
    padding: 30px;
}

.content-timeline section span{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.content-timeline h1{
    font-family: var(--font-primary);
    font-weight: 900;
    margin-top:  10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.content-timeline p{
    font-family: var(--font-secundary);
    justify-content: center;
    text-align: justify;
    padding: 30px 40px;
    font-size: 14px;
}

.profile:checked ~ .head-timeline .nav-timeline li.st1::before,
.settings:checked ~ .head-timeline .nav-timeline li.st1::before,
.settings:checked ~ .head-timeline .nav-timeline li.st2::before,
.post:checked ~ .head-timeline .nav-timeline li.st1::before,
.post:checked ~ .head-timeline .nav-timeline li.st2::before,
.post:checked ~ .head-timeline .nav-timeline li.st3::before,
.books:checked ~ .head-timeline .nav-timeline li.st1::before,
.books:checked ~ .head-timeline .nav-timeline li.st2::before,
.books:checked ~ .head-timeline .nav-timeline li.st3::before,
.books:checked ~ .head-timeline .nav-timeline li.st4::before{
    border: 2px solid #24243e;
    background: #FFFFFF;
    transition: all .3s ease;    
}

.settings:checked ~ .head-timeline .line-timeline span{
    width: 35%;
}

.post:checked ~ .head-timeline .line-timeline span{
    width: 68%;
}

.books:checked ~ .head-timeline .line-timeline span{
    width: 100%;
}

.profile-section, 
.account-section, 
.post-section, 
.advanced-section{
    transform: scale(0);
    transform-origin: center bottom;
    transition: all .7s ease;
    position: absolute;
    top: 0;
} 

.profile:checked~.content-timeline .profile-section,
.settings:checked~.content-timeline .account-section, 
.post:checked~.content-timeline .post-section, 
.books:checked~.content-timeline .advanced-section{
    display: block;
    transform: scale(1);
    transform-origin: bottom;    
}

@keyframes anim{
    0%{
        opacity: 0;
        transform: translateY(40px);
    }
    50%{
        opacity: .5;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes trans{
    0%{
        opacity: 0;
        transform: translateY(-40px);
    }
    50%{
        opacity: .5;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

